include ../blocks/includes
include page/page
include catalog/catalog
include top-menu/top-menu
include header/header
include hamburger/hamburger
include logo/logo
include search/search
include watched/watched
include quick-panel/quick-panel
include footer/footer
include mobile-apps/mobile-apps
include footer-menu/footer-menu
include payments/payments
include socials/socials
include content-main/content-main
