include ../blocks/includes
include page/page
include catalog/catalog
include top-menu/top-menu
include header/header
include hamburger/hamburger
include logo/logo
include search/search
include watched/watched
include quick-panel/quick-panel
include footer/footer
include mobile-apps/mobile-apps
include footer-menu/footer-menu
include payments/payments
include socials/socials
include content-main/content-main
include get-gift/get-gift
include breadcrumbs/breadcrumbs
include advertising-banner/advertising-banner
include view/view
include price-range/price-range
include more/more
include pagination/pagination
include card-slider/card-slider
include section-like/section-like
include order-form/order-form
include tabs/tabs
include logistics/logistics
include compare/compare
include popup-add-basket/popup-add-basket
