// Для импорта в файл подключения: @import './app/blocks.project/product/product';

@import '../../scss/vars';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами


.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dcdad8;
  height: 100%;
  transition: $transition;
  padding: 39px 11px 12px;
  position: relative;
  &:hover {
    border-color: transparent;
    box-shadow: 0 0 14px 0 rgba(185, 182, 178, .4);
  }
  &_hover {
    .product__overlay {
      font-size: 22px;
      height: 100%;
      width: 100%;
      @include respond-to(xl) {
        display: none;
      }
    }
  }

  &__youtube {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 19px;
    width: 27px;
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2219%22%20width%3D%2227%22%20data-name%3D%22Layer%201%22%3E%3Cpath%20d%3D%22M22.43%200H4.57A4.57%204.644%200%200%200%200%204.644v9.712A4.57%204.644%200%200%200%204.57%2019h17.86A4.57%204.644%200%200%200%2027%2014.356V4.644A4.57%204.644%200%200%200%2022.43%200zm-7.788%2011.611l-4.05%202.111V5.278l4.05%202.11%204.05%202.112z%22%20stroke-width%3D%22.419%22%20fill%3D%22%23e42c27%22%2F%3E%3C%2Fsvg%3E') center no-repeat;
    background-size: contain;
    z-index: 1;
  }

  &__img-container {
    display: block;
    position: relative;
    max-width: 246px;
    width: 100%;
    // height: 183px;
    // width: 246px;
    &:before {
      content: '';
      display: block;
      padding-top: 75%;
      height: 0;
    }
    img {
      display: none !important;
    }
  }

  &__quantity {
    background: rgba(#3b4472, .6);
    font-family: $open_sanssemibold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #fefefe;
    position: absolute;
    bottom: 9px;
    right: 9px;
    height: 19px;
    width: 19px;
    &:before, &:after {
      background: rgba(#3b4472, .6);
      content: '';
      position: absolute;
    }
    &:before {
      height: 19px;
      width: 2px;
      top: 3px;
      right: -3px;
    }
    &:after {
      height: 2px;
      width: 17px;
      right: -1px;
      bottom: -3px;
    }
  }

  &__text-container {
    flex-shrink: 1;
    text-align: center;
    padding: 20px 0 15px;
    max-width: 100%;
  }

  &__name {
    flex-shrink: 1;
    font-family: $officinaserifboldcregular;
    font-size: 16px;
    line-height: 1.3;
    color: #3b4472;
    text-decoration: none;
  }

  &__size {
    flex-shrink: 1;
    font-family: $open_sanssemibold;
    font-size: 14px;
    line-height: 1.3;
    color: #b9b6b2;
    text-decoration: none;
    margin-top: 7px;
  }

  &__comparison {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    color: #494949;
    text-decoration: none;
    transition: $transition;
    position: absolute;
    top: 13px;
    right: 10px;
    padding-right: 28px;
    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      height: 1px;
      width: 0;
      transition: $transition;
      background-color: $accentColor;
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 19px;
      width: 17px;
      background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2217%22%20height%3D%2219%22%3E%3Cdefs%3E%3Cpath%20d%3D%22M17%2020h1.515S19%2020%2019%2019.511V4.4L14.636%200H5.485S5%200%205%20.489V2H3v20h14zm-1%200H5.485S5%2020%205%2019.51V3H4v18h12zM6%2019V1h8v3c0%201%201%201%201%201h3v14zm9-17.339V4h2.346z%22%20id%3D%22a%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill-rule%3D%22evenodd%22%20fill%3D%22%23959595%22%20transform%3D%22matrix(1.0625%200%200%20.86364%20-3.188%200)%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20width%3D%22100%25%22%20height%3D%22100%25%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20width%3D%22100%25%22%20height%3D%22100%25%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') center no-repeat;
      background-size: contain;
    }
    &_add, &:hover {
      color: $accentColor;
      &:after {
        width: calc(100% - 28px);
      }
      &:before {
        background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2217%22%20height%3D%2219%22%3E%3Cdefs%3E%3Cpath%20d%3D%22M17%2020h1.515S19%2020%2019%2019.511V4.4L14.636%200H5.485S5%200%205%20.489V2H3v20h14zm-1%200H5.485S5%2020%205%2019.51V3H4v18h12zM6%2019V1h8v3c0%201%201%201%201%201h3v14zm9-17.339V4h2.346z%22%20id%3D%22a%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill-rule%3D%22evenodd%22%20fill%3D%22%23c69c6d%22%20transform%3D%22matrix(1.0625%200%200%20.86364%20-3.188%200)%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20width%3D%22100%25%22%20height%3D%22100%25%22%2F%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20width%3D%22100%25%22%20height%3D%22100%25%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') center no-repeat;
        background-size: contain;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    width: 100%;
    @include respond-to(stran) {
      display: block;
      text-align: right;
    }
  }

  &__price-block {
    @include respond-to(stran) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 10px;
      br {
        display: none;
      }
    }
  }

  &__price {
    font-family: $open_sansbold;
    font-size: 24px;
    line-height: 1;
    color: #494949;
    position: relative;
    padding-right: 19px;
    @include respond-to(stran) {
      margin-left: 5px;
      order: 1;
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 18px;
      width: 15px;
      background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2218%22%20width%3D%2215%22%3E%3Cpath%20d%3D%22M14.61%207.13a4.815%204.813%200%200%201-1.13%201.65%205.31%205.308%200%200%201-1.8%201.118%206.662%206.66%200%200%201-2.39.405H5.96v2h2.56v2.955H5.96V18H2.61v-2.746H0v-2.951h2.61v-1.95H0V7.404h2.61V0H9.3a6.661%206.658%200%200%201%202.39.4%205.286%205.284%200%200%201%201.79%201.118%204.812%204.81%200%200%201%201.13%201.643%205.247%205.245%200%200%201%200%203.968zM10.98%203.5a2.586%202.585%200%200%200-1.85-.623H5.96v4.528h3.17a2.637%202.636%200%200%200%201.85-.615%202.141%202.14%200%200%200%20.67-1.635%202.177%202.176%200%200%200-.67-1.656z%22%20fill%3D%22%23494949%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E') center no-repeat;
      background-size: contain;
    }
  }
  &__old-price {
    display: inline-block;
    font-family: $open_sanssemibold;
    font-size: 18px;
    line-height: 1;
    color: #b9b6b2;
    text-decoration: line-through;
    margin-top: 5px;
    padding-right: 15px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 13px;
      width: 11px;
      background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2213%22%20width%3D%2211%22%3E%3Cpath%20d%3D%22M10.714%205.15a3.531%203.476%200%200%201-.829%201.191%203.894%203.833%200%200%201-1.32.807%204.885%204.81%200%200%201-1.752.293H4.37v1.444h1.877v2.135H4.371V13H1.914v-1.983H0V8.885h1.914V7.477H0v-2.13h1.914V.002H6.82a4.885%204.809%200%200%201%201.753.288%203.876%203.816%200%200%201%201.312.808%203.529%203.474%200%200%201%20.829%201.186%203.848%203.788%200%200%201%200%202.866zM8.052%202.526a1.896%201.867%200%200%200-1.357-.45H4.371v3.27h2.324a1.934%201.904%200%200%200%201.357-.443%201.57%201.546%200%200%200%20.491-1.181%201.596%201.572%200%200%200-.491-1.196z%22%20fill%3D%22%23b9b6b2%22%20fill-rule%3D%22evenodd%22%20stroke-width%3D%22.728%22%2F%3E%3C%2Fsvg%3E') center no-repeat;
      background-size: contain;
    }
  }

  &__basket {
    font-family: $open_sansbold;
    font-size: 14px;
    line-height: 48px;
    color: $accentColor;
    text-decoration: none;
    transition: $transition;
    position: relative;
    padding-right: 62px;
    &:hover {
      color: #3b4472;
      .product__basket-icon {
        background-color: #3b4472;
        box-shadow: 0 0 9px 0 rgba(59, 68, 114, 0.52);
      }
    }
  }
  &__basket-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transition: $transition;
    transform: translateY(-50%);
    height: 48px;
    width: 48px;
    background-color: $accentColor;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 18px;
      width: 19px;
      background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2219%22%20height%3D%2218%22%3E%3Cpath%20d%3D%22M.698%201.47h2.015l2.871%2010.829a.708.708%200%200%200%20.68.54h8.824a.7.7%200%200%200%20.644-.44l3.21-7.7a.774.774%200%200%200-.058-.7.684.684%200%200%200-.585-.33h-9.75a.736.736%200%200%200%200%201.47h8.671l-2.6%206.23H6.79L3.921.54A.708.708%200%200%200%203.24%200H.699a.736.736%200%200%200%200%201.47zm4.901%2016.528a1.667%201.667%200%201%200-1.594-1.66%201.633%201.633%200%200%200%201.594%201.66zm9.96%200h.118a1.558%201.558%200%200%200%201.09-.58%201.7%201.7%200%200%200%20.386-1.21%201.625%201.625%200%200%200-1.7-1.54%201.672%201.672%200%200%200%20.106%203.33z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E') center no-repeat;
      background-size: contain;
    }
  }

  &__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: $transition;
    height: 0;
    width: 0;
    font-size: 0;
    background: rgba(59, 68, 114, .75);
    z-index: 1;
  }
  &__overlay-text {
    font-family: $officinaserifboldcregular;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}
