// Для импорта в файл подключения: @import './app/blocks.project/button/button';

@import '../../scss/vars';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами


.button {
  display: inline-block;
  text-decoration: none;
  transition: $transition;
  position: relative;
  line-height: 1;
  white-space: nowrap;

  &_4 {
    font-family: $open_sansbold;
    font-size: 14px;
    line-height: 48px;
    color: #c69c6d;
    padding-right: 68px;
    span {
      background-color: $accentColor;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      transition: $transition;
      height: 48px;
      width: 48px;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &:hover {
      color: #3b4472;
      span {
        background-color: #3b4472;
        box-shadow: 0 0 9px 0 rgba(59, 68, 114, 0.52);
      }
    }
  }

  &_clear-basket {
    span {
      &:before {
        background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2215%22%20width%3D%2215%22%3E%3Cpath%20d%3D%22M12.955%2015L7.5%209.546%202.045%2015%200%2012.955%205.455%207.5%200%202.046%202.045.001%207.5%205.454%2012.955%200%2015%202.045%209.545%207.5%2015%2012.955z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20stroke-width%3D%22.964%22%2F%3E%3C%2Fsvg%3E') center no-repeat;
        background-size: contain;
        height: 15px;
        width: 15px;
      }
    }
  }

  &_refresh {
    span {
      &:before {
        background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2223%22%20width%3D%2228%22%3E%3Cpath%20d%3D%22M7.692%2011.515H6.16V11.5a7.828%207.837%200%200%201%207.74-7.945A7.66%207.669%200%200%201%2019.35%205.85l2.527-2.473A11.118%2011.131%200%200%200%2013.902%200a11.396%2011.409%200%200%200-11.27%2011.513H1.083a.877.878%200%200%200-.866%201.432l3.305%203.323a.988.989%200%200%200%201.725%200l3.304-3.323a.876.877%200%200%200-.863-1.43zm20.094-1.383l-3.309-3.317a.999%201%200%200%200-1.724%200l-3.304%203.316a.875.876%200%200%200%20.862%201.43h1.529a7.818%207.827%200%200%201-7.739%207.887%207.66%207.668%200%200%201-5.444-2.291L6.13%2019.626A11.132%2011.145%200%200%200%2014.1%2023a11.387%2011.4%200%200%200%2011.267-11.437h1.552a.876.877%200%200%200%20.863-1.431z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E') center no-repeat;
        background-size: contain;
        height: 23px;
        width: 28px;
      }
    }
  }

  &_full {
    background-color: $accentColor;
    font-family: $officinaserifboldcregular;
    font-size: 18px;
    padding: 15px 12px;
    color: #fff;
    &:hover {
      background-color: #3b4472;
      box-shadow: 0 0 9px 0 rgba(59, 68, 114, 0.52);
    }
  }

  &_arrow-right {
    padding-right: 46px;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 13px;
      transform: translateY(-50%);
      height: 14px;
      width: 22px;
      background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20height%3D%2214%22%3E%3Cpath%20d%3D%22M21.734%207.626a.894.878%200%200%200%200-1.25l-6.33-6.12a.94.924%200%200%200-1.298%200%20.885.87%200%200%200%200%201.25l4.77%204.61H.901a.9.885%200%201%200%200%201.77h17.975l-4.77%204.601a.885.87%200%200%200%200%201.25.921.905%200%200%200%201.297%200z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20stroke-width%3D%221.009%22%2F%3E%3C%2Fsvg%3E') center no-repeat;
      background-size: contain;
    }
  }

  &_border {
    border: 3px solid $accentColor;
    font-family: $officinaserifboldcregular;
    font-size: 18px;
    color: $accentColor;
    padding: 12px 23px;
    &:hover {
      background-color: $accentColor;
      color: #fff;
    }
  }

  &_arrow-left {
    padding-left: 50px;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 14px;
      transform: translateY(-50%);
      transition: $transition;
      height: 14px;
      width: 22px;
      background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2214%22%20width%3D%2222%22%3E%3Cpath%20d%3D%22M.266%206.374a.894.878%200%200%200%200%201.25l6.33%206.12a.94.924%200%200%200%201.298%200%20.885.87%200%200%200%200-1.25l-4.77-4.61h17.975a.9.885%200%201%200%200-1.77H3.124l4.77-4.601a.885.87%200%200%200%200-1.25.921.905%200%200%200-1.297%200z%22%20fill%3D%22%23c69c6d%22%20fill-rule%3D%22evenodd%22%20stroke-width%3D%221.009%22%2F%3E%3C%2Fsvg%3E') center no-repeat;
      background-size: contain;
    }
    &:hover {
      &:before {
        background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2214%22%20width%3D%2222%22%3E%3Cpath%20d%3D%22M.266%206.374a.894.878%200%200%200%200%201.25l6.33%206.12a.94.924%200%200%200%201.298%200%20.885.87%200%200%200%200-1.25l-4.77-4.61h17.975a.9.885%200%201%200%200-1.77H3.124l4.77-4.601a.885.87%200%200%200%200-1.25.921.905%200%200%200-1.297%200z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20stroke-width%3D%221.009%22%2F%3E%3C%2Fsvg%3E') center no-repeat;
        background-size: contain;
      }
    }
  }

}
