include ../blocks.project/includes

doctype html
html(lang='ru')
  include templates/head/head
    block head
      - var pageTitle = 'Ванная комната | Store Gift - магазин хороших подарков';

  +page._with-catalog

    +header(false, true).__header


    +b.content._with-catalog.__content

      +catalog.__catalog

      +e.inner
        .grid
          +b('button').catalog-btn
            +e.text Каталог

          //-+content-main


    +footer(false, false).__footer

    +quick-panel
