include ../blocks.project/includes

doctype html
html(lang='ru')
  include templates/head/head
    block head
      - var pageTitle = 'Store Gift - магазин хороших подарков';

  +page

    +header(true, true)._with-catalog.__header


    +b.content._with-catalog.__content

      +catalog.__catalog

      +e.inner
        .grid
          +b('button').catalog-btn Каталог

          +content-main


    +footer(true, false)._with-catalog.__footer

    +quick-panel._with-catalog
