mixin content-main()
  +b.content-main&attributes(attributes)
    +e.item
      +b.main-text-block._1.__main-text-block
        h2 Добро пожаловать!!!
        p Приветствуем Вас в нашем интернет-магазине предметов интерьера и подарков StoreGift.ru Создавая наш магазин, мы мечтали сделать как можно большее количество людей счастливее и радостнее. Поэтому предлагаем Вам только качественную продукцию  и с радостью поможем подобрать такой товар, который сделает счастливым Вас или того, кому он предназначен. Каждый предмет в нашем магазине оригинален, интересен и подойдет самому неповторимому человеку, потому что мы тщательно отбираем нашу продукцию и предлагаем только лучшие товары.
    each item in mainBlocks
      +e.item
        +e('a')(href='#' style='background:url(' + item.img + ') center no-repeat;background-size:cover').block
          +e.block-text !{item.text}
    +e.item
      +b.main-text-block._2.__main-text-block
        h2 Нашим клиентам мы предоставляем:
        ul
          li Большой выбор предметов интерьера, подарков и сувениров.
          li Качественную продукцию
          li Быструю доставку по Санкт-Петербургу и Москве
          li Доставку товара без предоплаты по России.
          li Скидки постоянным клиентам
          li Внимательное и душевное отношение к каждому клиенту
        p Для вашего удобства у нас на сайте есть простое меню для выбора интересующей Вас рубрики и категории продукта.  С нами легко сделать правильный выбор и просто совершить желанную покупку.
