mixin socials()
  +b.socials&attributes(attributes)
    p Следите за обновлениями:
    +e.list
      +e('a')(href='#' target='_blank').item._ok
      +e('a')(href='#' target='_blank').item._vk
      +e('a')(href='#' target='_blank').item._fb
      +e('a')(href='#' target='_blank').item._tw
      +e('a')(href='#' target='_blank').item._inst
      +e('a')(href='#' target='_blank').item._yt
