// Для импорта в файл подключения: @import './app/blocks.project/content-area/content-area';

@import '../../scss/vars';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами


.content-area {
  font-size: 14px;
  line-height: 1.3;
  color: #494949;
  padding-top: 15px;

  h1 {
    font-family: $officinaserifboldcregular;
    font-size: 30px;
    line-height: 1.4;
    position: relative;
    text-align: center;
    padding: 0 185px 14px;
    margin-bottom: 17px;
    color: #3b4472;
    @include respond-to(xl) {
      padding: 0 0 14px;
    }
    &:before {
      background-color: #3b4472;
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 5px;
      width: 39px;
    }
  }

  &__total-quantity {
    text-align: right;
    margin-top: -33px;
    @include respond-to(xl) {
      margin-top: 0;
    }
  }

  &__advertising-banner {
    margin-top: 17px;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 37px -15px 0;
    position: relative;
    &:before {
      background-color: $accentColor;
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: calc(100% - 30px);
    }
    @include respond-to(stran) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include respond-to(sm) {
      display: block;
    }
  }
  &__control-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #494949;
    padding: 0 15px 27px;
    @include respond-to(sm) {
      display: block;
      padding: 0 15px 15px;
    }
    &_sort {
      min-width: 295px;
      max-width: 295px;
      @include respond-to(stran) {
        min-width: calc(100% - 391px);
        max-width: calc(100% - 391px);
      }
      @include respond-to(md) {
        min-width: calc(100% - 202px);
        max-width: calc(100% - 202px);
      }
      @include respond-to(sm) {
        min-width: 100%;
        max-width: 100%;
      }
    }
    &_show-quantity {
      order: 2;
      min-width: 202px;
      max-width: 202px;
      @include respond-to(stran) {
        order: initial;
      }
      @include respond-to(sm) {
        min-width: 100%;
        max-width: 100%;
      }
    }
    &_price {
      order: 1;
      min-width: calc(100% - 686px);
      max-width: calc(100% - 686px);
      @include respond-to(stran) {
        order: 2;
        min-width: calc(100% - 189px);
        max-width: calc(100% - 189px);
      }
      @include respond-to(md) {
        min-width: 100%;
        max-width: 100%;
      }
    }
    &_view {
      order: 3;
      min-width: 189px;
      max-width: 189px;
      @include respond-to(stran) {
        order: 1;
      }
      @include respond-to(md) {
        display: none !important;
      }
    }
  }
  &__control-item-text {
    display: inline-block;
    margin-right: 10px;
    white-space: nowrap;
    @include respond-to(sm) {
      display: block;
      margin-bottom: 7px;
    }
  }

  &__price-range {
    width: calc(100% - 79px);
    @include respond-to(sm) {
      width: 100%;
    }
  }

  &__products-list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px -10px 20px;
    // HORIZONTAL START
    &_horizontal {
      display: block;
      @include respond-to(md) {
        display: flex;
      }
      .content-area__product-item {
        width: 100%;
        @include respond-to(md) {
          width: 50%;
        }
        @include respond-to(esm) {
          max-width: 300px;
          margin: 0 auto;
          width: 100%;
        }
      }

      .product {
        flex-direction: row;
        padding: 24px;
        @include respond-to(lg) {
          flex-wrap: wrap;
          justify-content: space-between;
        }
        @include respond-to(md) {
          flex-direction: column;
          padding: 39px 11px 12px;
        }
        &__img-container {
          max-width: 120px;
          min-width: 120px;
          @include respond-to(md) {
            max-width: 246px;
            min-width: auto;
            width: 100%;
          }
        }
        &__quantity {
          bottom: 7px;
          right: 7px;
          @include respond-to(md) {
            bottom: 9px;
            right: 9px;
          }
        }
        &__text-container {
          text-align: left;
          padding: 0 15px 0 39px;
          width: calc(100% - 548px);
          @include respond-to(stran) {
            padding: 0 15px;
            width: calc(100% - 508px);
          }
          @include respond-to(lg) {
            order: -1;
            width: 100%;
            margin-bottom: 15px;
            text-align: center;
          }
          @include respond-to(md) {
            order: initial;
            padding: 20px 0 15px;
            margin-bottom: 0;
            max-width: 100%;
          }
        }
        &__comparison {
          position: relative;
          top: 0;
          right: 0;
          max-width: 118px;
          min-width: 118px;
          @include respond-to(lg) {
            max-width: 150px;
            min-width: 150px;
            padding-left: 32px;
          }
          @include respond-to(md) {
            position: absolute;
            top: 13px;
            right: 10px;
            padding-left: 0;
            max-width: auto;
            min-width: auto;
          }
        }
        &__bottom {
          max-width: 310px;
          min-width: 310px;
          padding-left: 60px;
          margin-top: 0;
          @include respond-to(stran) {
            display: flex;
            padding-left: 15px;
            max-width: 270px;
            min-width: 270px;
          }
          @include respond-to(md) {
            display: block;
            text-align: right;
            max-width: none;
            min-width: auto;
            padding-left: 0;
          }
        }
        &__price-block {
          @include respond-to(stran) {
            align-items: center;
            flex-direction: column;
            margin-bottom: 0;
          }
          @include respond-to(md) {
            flex-direction: row;
            justify-content: center;
            margin-bottom: 10px;
            br {
              display: none;
            }
          }
        }
        &__price {
          margin-left: 0;
          @include respond-to(stran) {
            margin-top: 5px;
          }
          @include respond-to(md) {
            margin-left: 5px;
          }
        }
      }
    }
    // HORIZONTAL END
  }
  &__product-item {
    flex-shrink: 1;
    padding: 20px 10px 0;
    width: 25%;
    @include respond-to(lg) {
      width: 33.3333333%;
    }
    @include respond-to(md) {
      width: 50%;
    }
    @include respond-to(esm) {
      max-width: 300px;
      margin: 0 auto;
      width: 100%;
    }
  }

  &__pagination {
    margin-top: 20px;
  }

}
