// Для импорта в файл подключения: @import './app/blocks.project/page/page';

@import '../../scss/vars';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами


.page {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  font-family: $default-font;
  font-size: 62.5%;
  line-height: 1.5;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  height: 100vh;

  &_with-catalog {
    @include respond-to(xl) {
      padding-left: 48px;
    }
    @include respond-to(esm) {
      padding-left: 0;
      padding-top: 48px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    height: 284px;
    width: 100%;
    background: url('../img/bg_top.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    @include respond-to(stran) {
      opacity: .2;
    }
    @include respond-to(xl) {
      top: 90px;
    }
    @include respond-to(esm) {
      top: 90px;
    }
  }

  &_fixed {
    @include respond-to(xl) {
      overflow: hidden;
      position: fixed;
      width: 100%;
      z-index: 99;
      &:before {
        background-color: rgba(0, 0, 0, .5);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
      }
    }
  }

  &__header, &__footer {
    flex-shrink: 0;
  }

  &__content {
    flex: 1 0 auto;
  }

}
