// Для импорта в файл подключения: @import './app/blocks.project/footer/footer';

@import '../../scss/vars';     // файл с переменными
@import '../../scss/png-sprite';    // файл с png-спрайтами


.footer {
  background-color: #3b4472;
  padding: 32px 0 75px;
  @include respond-to(md) {
    padding: 20px 0;
  }

  &__inner {
    font-size: 0;
    max-width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    &:before, &:after {
      content: '';
      display: table;
    }
    &:after {
      clear: both;
    }
    @each $breakpoint in $grid-breakpoints {
      $name: nth($breakpoint, 1);
      $size: nth($breakpoint, 2);
      $container: nth($breakpoint, 3);
      @media (max-width: $size) {
        max-width: $container;
      }
    }
  }

  &__top, &__middle, &__bottom {
    font-size: 0;
  }
  &__middle {
    margin: 20px 0;
    @include respond-to(lg) {
      margin: 30px 0;
    }
  }

  &__logo-container, &__menu-container, &__contacts-container {
    display: inline-block;
    vertical-align: top;
  }
  &__logo-container {
    width: 305px;
    @include respond-to(lg) {
      display: block;
      text-align: center;
      margin-bottom: 30px;
      width: 100%;
    }
  }
  &__menu-container {
    padding: 0 15px 0 50px;
    width: calc(100% - 590px);
    @include respond-to(lg) {
      padding: 0;
      width: calc(100% - 285px);
    }
    @include respond-to(esm) {
      margin-bottom: 15px;
      width: 100%;
    }
  }
  &__contacts-container {
    text-align: right;
    width: 285px;
    @include respond-to(esm) {
      text-align: center;
      width: 100%;
    }
  }

  &__mobile-apps {
    margin-top: 30px;
    @include respond-to(lg) {
      margin-top: 20px;
    }
  }

  &__payment-container, &__socials-container {
    display: inline-block;
    vertical-align: top;
    @include respond-to(lg) {
      display: block;
      text-align: center;
    }
  }
  &__payment-container {
    width: calc(100% - 385px);
    @include respond-to(lg) {
      margin-bottom: 25px;
      width: 100%;
    }
  }
  &__socials-container {
    text-align: right;
    width: 385px;
    @include respond-to(lg) {
      width: 100%;
    }
  }

  &__confidential-container, &__copy-container {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    @include respond-to(esm) {
      display: block;
      text-align: center;
      width: 100%;
    }
  }
  &__copy-container {
    text-align: right;
    @include respond-to(esm) {
      margin-top: 20px;
    }
  }

  &__phone {
    margin-bottom: 12px;
  }
  &__work {
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 12px;
    span {
      font-family: $open_sansbold;
    }
  }
  &__email {
    display: inline-block;
    font-family: $open_sansbold;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    transition: $transition;
    color: #eec431;
    &:hover {
      color: $accentColor;
    }
  }

  &__confidential, &__copy {
    font-size: 14px;
    text-decoration: none;
    transition: $transition;
    color: #fff;
  }
  &__confidential {
    &:hover {
      color: $accentColor;
    }
  }

}
