mixin get-gift()
  +b.get-gift&attributes(attributes)
    p Если Вы хотите выбрать хороший подарок для себя или близкого человека, но затрудняетесь с выбором подарка, напишите нам. Наши специалисты помогут учесть все нюансы и предпочтения и сделать правильный выбор. Ваш подарок будет оригинальным, нужным, приятным или просто запоминающимся, в зависимости от конкретной ситуации
    +e('a')(href='#').button Подобрать подарок
